#exchange-section {
  background-color: #214682;
  background: rgb(67, 114, 188);
  background: -moz-linear-gradient(
    0deg,
    rgba(67, 114, 188, 1) 0%,
    rgba(18, 50, 102, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(67, 114, 188, 1) 0%,
    rgba(18, 50, 102, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(67, 114, 188, 1) 0%,
    rgba(18, 50, 102, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4372bc",endColorstr="#123266",GradientType=1);
  /* background-image: url("/newhome/assets/images/exchange-bg.svg"); */
  /* background-size: 62vw; */
  background-position-x: initial;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* padding-bottom: 100px; */
}

.exchange__content-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 0 80px;
}

.exchange-content__container {
  flex: 0;
  padding-bottom: 30px;
  padding-inline-start: 30px;
}

.exchange-mockup__container {
  flex: 3;
  max-width: 720px;
}

.exchange__coming-soon {
  color: #f5aa28;
  font-size: 20px;
}

.exchange__title {
  /* color: #04193b; */
  color: white;
  font-weight: 600;
  margin: 0;
  font-size: 36px;
}

.exchange__subtitle {
  /* color: #04193b; */
  color: white;
  font-size: 16px;
  text-align: start;
  width: 370px;
  line-height: 23px;
}

.exchange__cta-link:active,
.exchange__cta-link {
  color: #f5aa28;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.exchange__cta-link-icon {
  border-radius: 100%;
  border: 2px solid #f5aa28;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;

  margin-inline-start: 7px;
}

.exchange__exchange-mockup {
  max-height: 65vh;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  #exchange-section {
    /* background-size: 55vw; */
    height: 400px;

    padding-bottom: 10px;
  }

  .exchange__content-container {
    margin: 0 40px;
  }

  .exchange-mockup__container img {
    max-width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  #exchange-section {
    height: 600px;
    /* background-size: 90vw; */
  }

  .exchange__content-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .exchange-mockup__container {
    align-self: center;
    max-width: 500px;
    margin-top: 35px;
  }

  .exchange-content__container {
    padding: 0;
  }

  .exchange__cta-link {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 900px) {
  .exchange-mockup__container img {
    max-width: 460px;
  }
}

@media screen and (max-width: 760px) {
  #exchange-section {
    /* background-position-x: initial; */
    /* background-position-y: 75%; */
    height: 600px;
  }

  .exchange-mockup__container {
    padding-top: 40px;
  }
}

@media screen and (max-width: 640px) {
  .exchange__subtitle {
    width: 100%;
  }

  .exchange__content-container {
    margin: 0 10px;
  }
}
