.header__container {
  background-color: #0e2d5f;
  background-image: url("/assets/images/trade-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.ddx-logo__container {
  display: flex;
  align-items: center;
}

.ddx-logo__symbol {
  height: 46px;
  object-fit: contain;
}

.ddx-logo__text {
  margin-inline-start: 4px;
  width: 80px;
  object-fit: contain;
}

.header__content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 64px);
  margin: 0 80px;
}

.header__content-item {
  flex: 1;
}

.header__title {
  color: #f5aa28;
  font-weight: 900;
  margin: 0;
}

.header__subtitle {
  color: white;
  font-size: 36px;
}

.header__cta-link:active,
.header__cta-link {
  color: #f5aa28;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header__cta-link-icon {
  border-radius: 100%;
  border: 2px solid #f5aa28;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;

  margin-inline-start: 7px;
}

.header__trade-mockup {
  max-height: 65vh;
  width: 100%;
  object-fit: contain;
}

.ddx-navigation > * {
  margin-inline-start: 5px;
}

.ddx-navigation__signin-button {
  border: 1px solid white;
  box-sizing: border-box;
}

.ddx-navigation__signup-button {
  box-sizing: border-box;
}

.ddx-navigation__profile-toggle-button {
  box-sizing: border-box;
  padding: 0 3px;
  display: flex;
  align-items: center;
  min-width: 46px;
}

.ddx-navigation__kyc-button {
  box-sizing: border-box;
  padding: 0 3px;
}

.ddx-navigation__profile-toggle-button b {
  margin: 0 10px;
}

.ddx-navigation__profile-menu-container {
  position: relative;
}

.ddx-navigation__locale-menu-container {
  position: relative;
}

.ddx-navigation__locale-button {
  box-sizing: border-box;
  padding: 0 3px;
  display: flex;
  align-items: center;
  min-width: 46px;
}

.ddx-navigation__locale-button-text {
  text-transform: uppercase;
  font-size: 16px;
}

.ddx-navigation__apps-menu-container {
  position: relative;
}

.ddx-navigation__apps-toggle-button {
  margin-inline-start: 15px;
}

.ddx-navigation__apps-toggle-button > img {
  transform: translateY(-3px);
}

.ddx-navigation__apps-item {
  display: flex;
  align-items: center;
  color: #0e2d5f;
  text-decoration: none;
}

.ddx-navigation__apps-item > img {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-inline-end: 4px;
}

.ddx-navigation__profile-menu-container .mdl-menu p {
  padding: 0 16px;
  margin: 0;
  color: #0e2d5f;
}

.ddx-navigation__profile-menu-container .mdl-menu hr {
  margin: 7px 0;
}

.ddx-navigation__profile-menu-blue-item {
  color: #3988f2;
}

.ddx-navigation__profile-menu-container .mdl-menu .mdl-menu__item {
  height: 36px;
  line-height: 36px;
}

.ddx-navigation__profile-menu-container .mdl-menu .mdl-menu__item a {
  color: #0e2d5f;
  text-decoration: none;

  display: flex;
  width: 100%;
  height: 100%;
}

.ddx-navigation__profile-menu-container
  .mdl-menu
  .mdl-button--raised.mdl-button--colored {
  box-sizing: border-box;
  width: calc(100% - 32px);
  margin: 10px 16px 10px 16px;
  background-color: #3988f2;
}

.main__sticky-navbar {
  position: sticky;
  top: 0;
  background-color: #0e2d5f;
  z-index: 2;
  border-bottom: 1px solid #aaa4;
  box-shadow: 0 5px 10px #aaa4;
}

.main__sticky-navbar .ddx-logo__symbol {
  height: 28px;
}

.main__sticky-navbar .mdl-layout__header,
.main__sticky-navbar .mdl-layout__header-row {
  height: 46px;
  min-height: 46px;
}

.ddx-navigation-secondary .mdl-navigation__link {
  color: white;
  cursor: pointer;
  transition: 0.23s ease-in-out;
}

.ddx-navigation-secondary .mdl-navigation__link.active {
  color: #f5aa28;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__main-header {
    display: flex;
  }

  .mdl-layout__header-row {
    padding: 0 40px;
  }

  .header__content-container {
    flex-direction: column-reverse;
    padding-top: 40px;
  }

  .header__content-item {
    flex: 0;
  }

  .header__trade-mockup {
    max-width: 500px;
  }
}

@media screen and (max-width: 640px) {
  .mdl-layout__header-row {
    padding: 0 10px;
  }

  .ddx-logo__symbol {
    height: 28px;
  }

  .ddx-logo__text {
    display: none;
  }

  .ddx-navigation__profile-menu-text {
    display: none;
  }

  .ddx-navigation__apps-toggle-button {
    margin-inline-start: 0;
  }

  .header__content-container {
    margin: 0 10px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__subtitle {
    font-size: 18px;
    margin: 0;
  }

  .header__content-container {
    padding-top: 0;
  }
}
