#invest-section {
  background-color: #214682;
  background: rgb(67, 114, 188);
  background: -moz-linear-gradient(
    0deg,
    rgba(67, 114, 188, 1) 0%,
    rgba(18, 50, 102, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(67, 114, 188, 1) 0%,
    rgba(18, 50, 102, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(67, 114, 188, 1) 0%,
    rgba(18, 50, 102, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4372bc",endColorstr="#123266",GradientType=1);
  /* background-image: url("/newhome/assets/images/invest-bg.svg"); */
  /* background-size: 80%; */
  background-position: center center;
  background-repeat: no-repeat;
  height: 700px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* padding-bottom: 100px; */
}

.invest__content-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 0 80px;
}

.invest-content__container {
  flex: 0;
  padding-bottom: 30px;
  padding-inline-start: 30px;
}

.invest-mockup__container {
  flex: 3;
  max-width: 720px;
}

.invest__title {
  /* color: #04193b; */
  color: white;
  font-weight: 600;
  margin: 0;
  font-size: 36px;
}

.invest__subtitle {
  /* color: #04193b; */
  color: white;
  font-size: 18px;
  text-align: end;
  width: 353px;
}

.invest__cta-link:active,
.invest__cta-link {
  color: #f5aa28;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.invest__cta-link-icon {
  border-radius: 100%;
  border: 2px solid #f5aa28;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;

  margin-inline-start: 7px;
}

.invest__invest-mockup {
  max-height: 65vh;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  #invest-section {
    /* background-size: calc(100vw - 80px); */
    /* background-position: center 5%; */
    /* background-repeat: no-repeat; */
    height: 580px;
    padding-bottom: 10px;
  }

  .invest-mockup__container {
    align-self: center;
  }

  .invest__content-container {
    margin: 0 40px;
  }

  .invest__title {
    margin-top: 26px;
  }

  .invest__subtitle {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1024px) {
  .invest__content-container {
    flex-direction: column;
  }

  .invest__invest-mockup {
    max-height: 300px;
  }
}

@media screen and (max-width: 760px) {
  #invest-section {
    /* background-size: 100%; */
    /* background-position: 20% 10%; */
    /* background-repeat: no-repeat; */
    height: 540px;
  }

  .invest__invest-mockup {
    max-height: 230px;
    padding-bottom: 10px;
  }

  .invest__content-container {
    align-items: flex-start;
  }

  .invest-content__container {
    padding: 0;
  }

  .invest__cta-link {
    justify-content: flex-start;
    margin-top: 5px;
  }

  .invest__subtitle {
    width: unset;
    text-align: start;
    font-size: 20px;
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  .invest__content-container {
    margin: 0 10px;
  }
}
