@font-face {
  font-family: IRANSans;
  src: url("/newhome/assets/fonts/IRANSans_UltraLight.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: IRANSans;
  src: url("/newhome/assets/fonts/IRANSans_Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: IRANSans;
  src: url("/newhome/assets/fonts/IRANSans.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: IRANSans;
  src: url("/newhome/assets/fonts/IRANSans_Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: IRANSans;
  src: url("/newhome/assets/fonts/IRANSans_Black.ttf") format("truetype");
  font-weight: 700;
}
