html,
body {
  font-family: "Nunito Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
b,
i,
a,
button,
.mdl-button,
li {
  font-family: "Nunito Sans";
}

html.fa,
body.fa {
  font-family: IRANSans, Shabnam;
}

.fa h1,
.fa h2,
.fa h3,
.fa h4,
.fa h5,
.fa h6,
.fa p,
.fa span,
.fa b,
.fa i,
.fa a,
.fa button,
.fa .mdl-button,
.fa li {
  font-family: IRANSans, Shabnam;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: #f5aa28;
  color: white;
  text-transform: none;
}

.mdl-button {
  color: white;
  text-transform: none;
}

.mdl-layout__header-row {
  padding: 0 80px;
}
