html,
body {
  font-family: "Nunito Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
b,
i,
a,
button,
.mdl-button,
li {
  font-family: "Nunito Sans";
}

html.fa,
body.fa {
  font-family: IRANSans, Shabnam;
}

.fa h1,
.fa h2,
.fa h3,
.fa h4,
.fa h5,
.fa h6,
.fa p,
.fa span,
.fa b,
.fa i,
.fa a,
.fa button,
.fa .mdl-button,
.fa li {
  font-family: IRANSans, Shabnam;
}

.force-english-font {
  font-family: "Nunito Sans" !important;
}

.force-farsi-font {
  font-family: IRANSans, Shabnam !important;
}

.mdl-button--raised {
  box-shadow: none;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: #f5aa28;
  color: white;
  text-transform: none;
}

.mdl-button {
  color: white;
  text-transform: none;
}

.mdl-layout__header-row {
  padding: 0 80px;
}

.mdl-mega-footer--heading,
.mdl-mega-footer__heading {
  padding-right: 0;
  padding-inline-end: 40px;
}

.hidden-by-auth {
  display: none;
}

.hidden-by-kyc {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #214682;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5aa28cc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5aa28ff;
}
